body {
    user-select: none;
}

.north_container {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    line-height: 200%;
}

.header > a {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: middle;
}

.header > a > img {
    vertical-align: middle;
}

.header > .styled_select {
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header > .pagination {
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
}

.results {
    text-align: center;
}

.results > div {
    display: inline-block;
    width: 33%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5ex;
}

.results > div > img {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.results > div:hover > img {
    border-color: #428bca;
}

.results > div > span {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    line-height: normal;
    cursor: pointer;
    user-select: text;
}
